/* ==============responsive 540 ============== */

@media (min-width: 540px) {
  .footer_news {
    width: 100%;
  }

  .footer_nav {
    width: calc(50% - 50px);
  }

  .company_information {
    width: 50%;
  }

  .grid_wrapper_four {
    grid-template-columns: repeat(2, 1fr);
  }

  .banner_button_wrapper {
    flex-direction: row;
  }
}

/* ==============responsive 767 ============== */

@media (min-width: 767px) {
  .section_padding {
    padding: 40px 0px;
  }

  .footer_news {
    width: calc(50% - 50px);
  }

  .footer_nav {
    width: calc(50% - 25px);
  }

  .company_information {
    width: calc(50% - 25px);
  }

  .banner_section {
    padding: 80px 0px;
  }

  .wrapper_section_wrapper {
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
  }

  .banner_content,
  .banner_image {
    width: 50%;
  }

  .banner_title {
    text-align: left;
  }

  .banner_text {
    text-align: left;
  }

  .banner_button_wrapper {
    justify-content: flex-start;
  }

  .grid_wrapper_four {
    grid-template-columns: repeat(3, 1fr);
  }

  .about_section_wrapper {
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
  }

  .about_section_content {
    text-align: left;
    width: calc(55% - 5%);
  }

  .about_section_image {
    width: calc(47% - 5%);
  }

  .grid_wrapper_three {
    grid-template-columns: repeat(2, 1fr);
  }

  .calculator_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .conact_input_wrapper {
    flex-direction: row;
  }

  .faq_wrapper {
    flex-direction: row;
  }

  .faq_item_inner {
    width: calc(50% - 12px);
  }

  .signin_form_content,
  .signup_content {
    padding: 40px 30px;
  }
}

/* ==============responsive 1024 ============== */

@media (min-width: 1024px) {
  .mobile_toggle {
    display: none;
  }

  .header_nav {
    display: block;
  }

  .section_padding {
    padding: 50px 0px;
  }

  .footer_news {
    width: calc(38% - 50px);
    margin-right: 50px;
  }

  .footer_nav {
    width: calc(20% - 25px);
  }

  .company_information {
    width: calc(20% - 25px);
  }

  .banner_section {
    padding: 100px 0px;
  }

  .banner_content {
    width: calc(48% - 50px);
  }

  .banner_image {
    width: calc(54% - 50px);
  }

  .banner_title {
    font-size: 42px;
    line-height: 52px;
  }

  .grid_wrapper_four {
    grid-template-columns: repeat(4, 1fr);
  }

  .about_content_title {
    font-size: 40px;
  }

  .grid_wrapper_three {
    grid-template-columns: repeat(3, 1fr);
  }

  .calculator_wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
  .contact_wrapper {
    flex-direction: row;
  }

  .contact_left {
    width: 49%;
  }

  .contact_details {
    width: 42%;
  }

  .signin_form_content,
  .signup_content {
    padding: 50px 50px;
  }
}

/* ==============responsive 1200 ============== */

@media (min-width: 1200px) {
  .header_logo {
    width: 300px;
  }

  .header_nav ul {
    gap: 40px;
  }

  .header_nav ul li a {
    font-size: 18px;
  }

  .section_padding {
    padding: 50px 0px;
  }

  .banner_section,
  .contact_page,
  .plan_page,
  .affilate_page,
  .aboutus_page,
  .faq_page,
  .signin_page {
    margin-top: 80px;
  }

  .banner_title {
    font-size: 52px;
    line-height: 62px;
  }

  .signin_form_content,
  .signup_content {
    max-width: 650px;
    width: 100%;
    padding: 50px 80px;
    background-color: var(--bgColor);
    border-radius: 12px;
    margin: 0px auto;
  }
}
